body {
    margin: 0;
    font-family: 'Cursed Timer ULiL', sans-serif;
    background: #1B244A;
    text-align: center;
}

.board {
    width: 575px;
    height: 385px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-family: sans-serif;
    font-size: 40px;
    color: white;
    margin: 10px 0 10px;
}

.score-wrapper {
    color: #FF0000;
    height: 120px;
    width: 155px;
    background: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.score {
    font-size: 90px;
}

button {
    height: 45px;
    width: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    color: #9AABD8;
    font-size: 18px;
}