body {
    margin: 0;
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#hero {
    background: url("images/galaxy.webp");
    background-size: cover;
    padding: 10px 0 50px 0;
}

#title {
    text-shadow: 0px 0px 5px black;
}

#main-logo {
    width: 150px;
}

.underline {
    border-bottom: 4px solid white;
}

.btn {
    background: white;
    font-family: inherit;
    padding: 5px 10px;
    font-weight: 800;
    color: #82a5ca;
}